/* Alapstílusok */
body {
    background-image: url('images/hatter3.jpg');
    background-size: cover; /* A kép teljesen kitölti az oldalt */
    background-position: center; /* A kép középre igazítva jelenik meg */
    background-repeat: no-repeat; /* A kép nem ismétlődik */
    color: #ffffff; /*  szín */
    background-attachment: fixed;
}




header {
    background-image: url(images/header-hatter.webp); /* Cseréld ki a képed elérési útjára */
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 150px; /* Beállított magasság a headerhez */
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;

            @media only screen and (max-width: 600px) {
                header {
                    height: 100px; /* Kisebb magasság mobil eszközökhöz */
                }
            }       
}

.image-container {
    display: flex; /* A képeket egymás mellé helyezi */
    justify-content: space-around; /* Egyenletesen elosztja a képeket */
    text-align: center; /* Középre igazítja a szövegeket */
    margin-top: 20px;
}

.image-container div {
    flex: 1; /* Minden kép azonos szélességű lesz */
    padding: 10px;
}

img {
    width: 100%; /* A kép kitölti a szülő div szélességét */
    max-width: 300; /* Maximalizálja a képek szélességét */
    height: auto; /* Megőrzi a kép arányait */
}

p {
    margin-top: 10px; /* Kis távolság a kép és a szöveg között */
    font-size: 16px;
}
@media only screen and (max-width: 60px) {
    .image-container, .image-grid {
        flex-direction: column; /* A Flexbox esetén függőlegesen helyezi el a képeket */
        grid-template-columns: 1fr; /* A Grid esetén egyetlen oszlopra vált */
    }

    img {
        max-width: 100%; /* A képek kitöltik a rendelkezésre álló helyet mobilon */
    }
}







nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* Szakaszok stílusai */
section {
    padding: 2rem;
    margin: 2rem 0;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; /* A footer kitölti a teljes szélességet */
    background-color: #333; /* Háttérszín */
    color: white; /* Szöveg szín */
    text-align: center; /* Középre igazított szöveg */
    padding: 10px 0; /* Párnázás a footer körül */
}

/* Reszponzív design */
@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }
}
