/* Alapstílusok */
body {
    background-image: url('images/hatter.JPEG');
    background-size: cover; /* A kép teljesen kitölti az oldalt */
    background-position: center; /* A kép középre igazítva jelenik meg */
    background-repeat: no-repeat; /* A kép nem ismétlődik */
    color: #ffffff; /*  szín */
}




header {
    background-color: #d400ff;
    color: rgb(255, 255, 255);
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* Szakaszok stílusai */
section {
    padding: 2rem;
    margin: 2rem 0;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; /* A footer kitölti a teljes szélességet */
    background-color: #333; /* Háttérszín */
    color: white; /* Szöveg szín */
    text-align: center; /* Középre igazított szöveg */
    padding: 10px 0; /* Párnázás a footer körül */
}

/* Reszponzív design */
@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }
}
